NEXT_PUBLIC_SUPABASE_PROJECT_ID="bwslltcjdinhsqkmadfz"
NEXT_PUBLIC_SUPABASE_URL="https://bwslltcjdinhsqkmadfz.supabase.co"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=""

SUPABASE_PROJECT_REF="bwslltcjdinhsqkmadfz"
SUPABASE_ACCESS_TOKEN=""
