VITE_SUPABASE_PROJECT_ID="bwslltcjdinhsqkmadfz"
VITE_SUPABASE_URL="https://bwslltcjdinhsqkmadfz.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_APP_BASE_PATH="/transcri-o-tela-amiga"

SUPABASE_PROJECT_REF="bwslltcjdinhsqkmadfz"
SUPABASE_ACCESS_TOKEN=""
